# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/UseCase Diagram0.asta
../UseCase Diagram0.asta
.idea
/.idea/
